:root {
  --clr-dark-gray: #4e5150;
  --clr-orange: #fa9033;
  --clr-bg-body: #fff;
  --clr-bg-products: #f2f2f2;
  --clr-bg-symbol: #e0e0e0;
  --clr-line: #bdbdbd;
  --clr-placeholder: #828282;

  --ff-primary: "Montserrat", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: var(--ff-primary);
  font-size: clamp(1rem, 1.2vw, 1.125rem);
  color: var(--clr-dark-gray);
  background-color: var(--clr-bg-body);
}
main {
  flex: 1;
  max-width: 1440px;
  margin: auto;
}
/*********************/
/* Checkout Section */
/********************/
.checkout-section h1 {
  font-size: clamp(1.5rem, 5vw + 0.5rem, 2.5rem);
  margin: 2rem;
  margin-left: 1rem;
}
.checkout-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 50px;
  padding: 1rem;
}
/*************/
/* Products */
/************/
.products-container {
  padding: 2rem 1rem;
  background-color: var(--clr-bg-products);
  border-radius: 12px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}
.product {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 2rem;
  width: 300px;
}
.image-container {
  width: 50%;
}
img {
  display: block;
  max-width: 100%;
  border-radius: 12px;
}
.product-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  width: 50%;
}
.product-details h3 {
  font-size: clamp(1rem, 1.2vw, 1.2rem);
  font-weight: bold;
}
.prices {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 1rem 0;
  font-weight: bold;
}
.highlighted {
  font-size: 1.2rem;
  color: var(--clr-orange);
}
.line-through {
  font-size: 1rem;
  text-decoration: line-through;
}

.product-counter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem;
  border: 1px solid var(--clr-dark-gray);
  border-radius: 12px;
}
.count {
  font-size: 1.2rem;
  font-weight: bold;
}
.increment-btn,
.decrement-btn {
  font-size: 1.2rem;
  padding: 0 0.4em;
  background-color: var(--clr-bg-symbol);
  border: none;
  border-radius: 8px;
}

.total-container {
  margin-top: 1rem;
}
.shipping-container {
  border-top: 1px solid var(--clr-line);
  border-bottom: 1px solid var(--clr-line);
}
.shipping-container,
.total-container {
  padding: 0.5em 0;
  display: flex;
  justify-content: space-between;
}
.shipping-container h3,
.total-container h3 {
  font-weight: bold;
  color: var(--clr-dark-gray);
}
.shipping-container span,
.total-container span {
  font-size: 1.2rem;
}
/*********/
/* Form */
/********/
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.form-heading {
  font-weight: bold;
  margin: 1rem 0;
}
.form label {
  font-weight: bold;
}
.input-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 400px;
  margin-bottom: 0.5rem;
}
.input-container input,
.input-container select {
  width: 100%;
  padding: 1rem;
  text-indent: 20px;
  border: 1px solid var(--clr-placeholder);
  border-radius: 8px;
}
input::placeholder {
  color: var(--clr-placeholder);
}
select {
  color: var(--clr-placeholder);
}
.input-container svg {
  position: absolute;
  left: 5px;
  z-index: 1;
  width: 25px;
  height: 25px;
}
.country-postal-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  gap: 15px;
}
.country-postal-container .wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
}
.save-check-container {
  display: flex;
  gap: 0.8em;
  margin: 1rem 0;
}

.btn-submit {
  align-self: end;
  width: 120px;
  padding: 0.7rem;
  margin: 1rem 0;
  font-size: 1rem;
  background-color: var(--clr-orange);
  color: #fff;
  border: none;
  border-radius: 12px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  transition: opacity 0.3s ease;
}
.btn-submit:hover {
  opacity: 0.8;
  cursor: pointer;
}

/******************/
/* Media Queries */
/*****************/
@media (min-width: 768px) {
  .checkout-container {
    flex-direction: row-reverse;

    gap: 50px;
  }
  .form .form-heading:first-child {
    margin-top: 0;
  }
}
