:root {
  /* COLORS */
	--clr-dark-gray: #4E5150;
	--clr-line: #BDBDBD;
	--clr-orange: #F2994A;
  --clr-background-products: #F2F2F2;
	--clr-background-symbol: #E0E0E0;
	--clr-background-body: #FFF;

	/* FONT fAMILY */
	--ff-primary: 'Montserrat', sans-serif;
	--ff-body: var(--ff-primary);

	/* FONT WEIGHTS */
	--font-weight-bold: 600;

	/* FONT SIZES */
	--font-size-h1: clamp(2.4rem, calc(2.4rem + ((1vw - 0.32rem) * 1.1472)), 3.6rem);
	--font-size-h2: clamp(1.4rem, calc(1.4rem + ((1vw - 0.32rem) * 0.3824)), 1.8rem);
	--font-size-label: clamp(1rem, calc(1rem + ((1vw - 0.32rem) * 0.1912)), 1.2rem);
	--font-size-input: clamp(1.2rem, calc(1.2rem + ((1vw - 0.32rem) * 0.3824)), 1.6rem);
	--font-size-button: 1.6rem;
	
	/* Paddings */
	--section-block-padding: clamp(3.2rem, calc(3.2rem + ((1vw - 0.32rem) * 3.0593)), 6.4rem);
	--section-inline-padding: clamp(1.8rem, calc(1.8rem + ((1vw - 0.32rem) * 21.2237)), 24rem);

}

/*Box sizing rules*/
*,
*:before,
*:after {
	box-sizing: border-box;
}

/* Remove default margin */
* {
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
}
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

/*General styling*/
body {
	max-width: 1440px;
	margin: auto;
	font-family: var(--ff-primary);
	font-weight: var(--font-weight-bold);
	color: var(--clr-dark-gray);
	background-color: var(--clr-background-body);
}
/* Typography */
h1 {
	font-size: var(--font-size-h1);
	color: var(--clr-dark-gray);
}
h2 {
	font-size: var(--font-size-h2);
}
label {
	font-size: var(--font-size-label);
}
input {
	font-size: var(--font-size-input);
}

picture,
img,
input,
select {
	display: block;
}

.section-checkout {
	padding: var(--section-block-padding) var(--section-inline-padding);
}
.container__content {
	display: grid;
	place-items: center;
}
/********************************* 
	PRODUCTS
*********************************/
.products {
	width: 34rem;
	padding: 3em 1.7em;
	margin: 2.7rem 0;
	background-color: var(--clr-background-products);
	border-radius: 12px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
}
.product__item {
	display: flex;
	gap: 1em;
	margin-bottom: 4.5rem;
}
.product__item picture img {
	width: 12rem;
	border-radius: 13px;
}
.product__prices {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.product__prices span {
	font-size: clamp(1rem, calc(1rem + ((1vw - 0.32rem) * 0.1912)), 1.2rem);
	
}
.product__prices .highlighted {
	font-size: clamp(1.4rem, calc(1.4rem + ((1vw - 0.32rem) * 0.1912)), 1.6rem);
	color: var(--clr-orange);
	margin-right: 1em;
}
.product__prices .line-through {
	font-size: clamp(1rem, calc(1rem + ((1vw - 0.32rem) * 0.1912)), 1.2rem);
	text-decoration: line-through;
}
.product__counter {
	width: 12rem;
	padding: .7em;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 1px solid var(--clr-dark-gray);
	border-radius: 12px;
}
.product__counter span {
	font-size: 1.6rem;
}
.product__counter .symbol {
	padding: .4em .6em;
	background-color: var(--clr-background-symbol);
	border-radius: 6px;
}
.product__details {
	margin-top: 8rem;
}
.product__details div {
	padding: .5em 0;
	display: flex;
	justify-content: space-between;
}
.product__details .shipping .title,
.product__details .total .title {
	font-size: clamp(1.4rem, calc(1.4rem + ((1vw - 0.32rem) * 0.3824)), 1.8rem);
}
.product__details .shipping .price,
.product__details .total .price {
	font-size: 1.4rem;
}
.product__details .shipping {
	border-top: 1px solid var(--clr-line);
	border-bottom: 1px solid var(--clr-line);
}

/*********************************
	FORM
**********************************/
.form {
	display: grid;
	
}
.form__contact,
.form__shipping {
	margin-top: 4rem;
}
.form__title {
	margin: 1rem 0;
}
.icon { 
	position: absolute;
	
	color: var(--clr-dark-gray);
	min-width: 50px;
}
.input__field {
	width: 34rem;
	padding: 1em;
	margin: 1rem 0;
	border-radius: 10px;
	position: relative;
}
/* ver select*/
.input__submit {
	padding: .7em 2.6em;
	margin: 1rem 0;
	color: #FFF;
	background-color: var(--clr-orange);
	border: none;
	border-radius: 12px;
	/*ver box shadow*/
}
.form__row {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.form__row select {
	padding: 1em;
	border-radius: 10px;
}
.form__row input {
	width: 95%;
}
.checkbox__save {
	display: flex;
	gap: .8em;
	margin: 1rem 0;
}
.input__submit {
	width: 170px;
	justify-self: end;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
	transition: .1s opacity ease;
}
.input__submit:hover {
	opacity: 0.8;
	cursor: pointer;
}
/**************************
MEDIA QUERIES
***************************/
@media screen and (min-width: 767px) {
	.container__content {
		grid-template-columns: repeat(2, 1fr);
		place-items: baseline;
	}
	.products {
		order: 1;
		align-self: start;
	}
}